{% extends "base.html" %}

{% block nav %} <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Chisme</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/gestionchismes/logoff/">Log out<span class="sr-only">(current)</span></a></li>
            <li><a href="/gestionchismes/crearchisme/">Nuevo Chisme</a></li>
            
              <ul class="dropdown-menu" role="menu">
              </ul>

            </li>
          </ul>
         
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

{% endblock %}
{% block Siguiendo %}
<ul class="list-group">
<li class="list-group-item Titulo">Han marcado favorito:</li>
  {% for usuario in Pulsan_favorito %}
  <li class="list-group-item">{{usuario.username}}<div class="botondejarseguir"><a href="/gestionchismes/dejarseguir/{{usuario.username}}/"><button type="submit" class="btn btn-default">Dejar de seguir</button></a></li>
{% endfor %}
</ul>
{% endblock %}

  {% block Mensaje %}

  <ul class="list-group">
  <ul class="list-group-item active">
    <h4 class="Chisme">{{mensaje.texto}}</h4>
    <p class="Fecha">{{mensaje.fecha_registro}}</p> 
     <a href="/gestionchismes/eliminar/{{mensaje.mensaje_id}}/"><button type="submit" class="btn btn-default">Eliminar</button></a>
      <span class="glyphicon glyphicon-heart"></span>  {{mensaje.num_favorito}}
     
  </ul>

</ul>
  {% endblock %}


  