<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style>
    <title>Chisme</title>

    <!-- Bootstrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> 

  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
  </head>
  

   
   
 
  <body>
  {% block nav %}
 <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Chisme</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Tu <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuenta <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Ajustes</a></li>
                <li class="active"><a href="/gestionchismes/crear/">Nuevo Usuario <span class="sr-only">(current)</span></a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>
            
          </form>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 centrado">
    {% block Left %}{% endblock %}
    </div>
      <div class="col-sm-4 centrado">
        {% block Center %}{% endblock %}
    </div>
 
    <div class="col-sm-4 centrado">
        {% block Right %}{% endblock %}
    </div>
 
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm-3">
       {% block Siguiendo %}{% endblock %}
    </div>
      <div class="col-sm-6">
        {% block Mensaje %} {% endblock %}
    </div>
 
    <div class="col-sm-3">
        {% block Seguidores %}{% endblock %}
    </div>
 
    </div>
  </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <footer>

     <div class=" navbar-fixed-bottom" style="color:grey; text-align:center;">
           
                Copyright © Leoncio Ramos, 2015
     
        </div>
        </footer>  
</body>

</html>