{% extends "base.html" %}

{% block nav %} <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Chisme</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/gestionchismes/logoff/">Log out<span class="sr-only">(current)</span></a></li>
            <li><a href="/gestionchismes/crearchisme/">Nuevo Chisme</a></li>
            <li class="dropdown">
              <a href="/gestionchismes/cuenta/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuenta <span class="caret"></span></a>
              
            </li>
          </ul>
          
           
            <a href="/gestionchismes/seguir/{{Seguidme.username}}/"><ul class="botondejarseguir navbar-form navbar-right"><button type="submit" class="btn btn-default">Seguir</button></a>
            
          
            </div>
        
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block Siguiendo %}
<ul class="list-group">
<li class="list-group-item Titulo">Siguiendo</li>
  {% for usuario in Usuarios %}
  <li class="list-group-item">{{usuario.username}}<a href="/gestionchismes/seguir/{{usuario.username}}/"><ul class="botondejarseguir"><button type="submit" class="btn btn-default">Seguir</button></a></li></ul>
{% endfor %}
</ul>
{% endblock %}

  {% block Mensaje %}

{% for mensaje in Mensajes %}
  <ul class="list-group">
  <ul class="list-group-item active">
    <h4 class="Chisme">{{mensaje.texto}}</h4>
    <p class="Fecha">{{mensaje.fecha_registro}}</p> 
      <span class="glyphicon glyphicon-heart"></span>  {{mensaje.num_favorito}}
     
  </ul>

{% endfor %}
</ul>
{% endblock %}

  {% block Seguidores %}
<ul class="list-group">
<li class="list-group-item Titulo">Seguidores</li>
  {% for miseguidor in Seguidme.seguidores.all %}
  <li class="list-group-item">{{miseguidor.username}} <a href="/gestionchismes/seguir/{{miseguidor.username}}/"><ul class="botondejarseguir"><button type="submit" class="btn btn-default">Seguir</button></a></li></ul>
{% endfor %}
</ul>
{% endblock %}
